[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
awsebcli = "*"
jupyter = "*"
autopep8 = "*"

[packages]
django = "*"
django-rest-framework = "*"
django-environ = "*"
djangorestframework = "*"
aws-psycopg2 = "*"
django-extensions = "*"
django-allauth = "*"
django-filter = "*"
bs4 = "*"
wiki = "*"
django-decorator-include = "*"
jupyter = "*"
ipython = "*"
psycopg2 = "*"

[requires]
python_version = "3"
