[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
zappa = "*"
django = "*"
django-rest-framework = "*"
awscli = "*"
django-environ = "*"
djangorestframework = "*"
aws-psycopg2 = "*"
django-extensions = "*"
django-allauth = "*"
django-filter = "*"
bs4 = "*"
wiki = "*"
django-decorator-include = "*"
awsebcli = "*"

[requires]
python_version = "3.7"
