[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aws-requests-auth = "*"
awsebcli = "*"
django-shell-plus = "*"
jupyter = "*"
matplotlib = "*"
nltk = "*"
textchart = "*"
tqdm = "*"

[packages]
aws-psycopg2 = "*"
django = "*"
django-allauth = "*"
django-decorator-include = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-rest-framework = "*"
djangorestframework = "*"
html2text = "*"
psycopg2-binary = "*"

[requires]
python_version = "3"
