django = "*"
django-rest-framework = "*"
django-environ = "*"
djangorestframework = "*"
aws-psycopg2 = "*"
django-extensions = "*"
django-allauth = "*"
django-filter = "*"
bs4 = "*"
wiki = "*"
django-decorator-include = "*"
psycopg2 = "*"
