aws-psycopg2 = "*"
django = "*"
django-allauth = "*"
django-decorator-include = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-rest-framework = "*"
djangorestframework = "*"
wiki = "*"
