option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "coder.wsgi:application"
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "coder.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "coder/frontend/static/frontend"s
