files:
    /usr/local/bin/update_progress.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /opt/python/run/venv/bin/activate
            source /opt/python/current/env
            cd /opt/python/current/app
            python manage.py update_policy_info

    /etc/cron.d/update_progress_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            0 * * * * root /usr/local/bin/update_progress.sh
    /home/ec2-user/.ssh/authorized_keys:
        mode: "000400"
        owner: ec2-user
        group: ec2-user
        content: |
            ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCymp4HCNUsJoInhmmq44ZLanil96VTNVHovtpVchXh2UolDpeB2Qv++OuW1Hc80XMzrhQE/wQdfnk4hCjbBNJnOJOgYP9cte8hQLH47KCM939H1aLvv5XVSTo2cQ5vT9Si0owmW6Ne5M4pE3OWPWkj8aVnxIrlpg06iVHbSfi5bipUdgZoN6R0QVi1lyjfzTVZ9RxBiIiSSvJAXHQvy4HLL4FqBnJgxFVqYvQqpj09Uxi1FgMDL9vNUfHIRE3dJwxmWi/06CjQuHc7n+OBBS8kmUzIB0q4FEKXsX3f6gJ3rRRqXo2bhGO4dwuD1x8jM1yt/UyHciaIAvwQSqzSRXTF aws-eb2
            ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCgPhOBYY33302pinlYgCH9gYRQnhUd8crqIWtg/X+Fq/xHx+eBNyG0h4p6aca4sFPdMpFs1pWkFOD6U06p+sPRwe7flR5NrAwHVwbguWJSGwa/7bIT64DC2V+IT+UjMQ/wtoqQm8y1btenXEJ3W6++G8mZnd43a+Bun9IfFJRhhY5llAT+/3ibV5oErQUgjXLmnyFoh3gx5X0N22UMJR98MA6S1DMKhDLIHn0fXPmchRU36+VFlXU8KltSuPehwnTtZFw+mLcBXWh88EoDgR2RcmB3Z1InhYDkgwmzPyzksV/5WmJqBkfxVBJtH0Pq4yJWx8ho0xFqsBxCJKKTkjBYlbCgncznN4QJOEeDRlWTzjw7Jiydg6x4FdbiQ8RvHvls95RnFJPancCDlLebYpXcJKbJJ//ekg5wXTH9A16H6jRE4vBLUeK8CaO9fqBrwueTCi+Vr3hYhC6xjwG5x1NpBblbYm70DPjJPFEIEZoMUE5+sj9Cn1FsQ4/pemLOtM8= aws-eb3

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true