files:
    /usr/local/bin/update_progress.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /opt/python/run/venv/bin/activate
            source /opt/python/current/env
            cd /opt/python/current/app
            python manage.py update_policy_info

    /etc/cron.d/update_progress_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            0 * * * * root /usr/local/bin/update_progress.sh

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true