{% extends "wiki/base_site.html" %}
{% load sekizai_tags static %}

{% addtoblock "css" %}
LINK LINK
<link href="/media/css/CSSIFY.css" media="screen" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

{% block wiki_body %}
  {% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'wiki/custom.css' %}" />
  {% endaddtoblock %}
  {{ block.super }}
{% endblock %}

{% block wiki_site_title %} {% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="/">Policy Coding Wiki</a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
  <li class="active"><a href="{% url 'wiki:root' %}">Wiki Home</a></li>
  <li class="active"><a href="/">Coding Home</a></li>
</ul>
{% endblock %}
