/*


POLICY BROWSER


*/

.policy-browser-container {
  width: 50%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  left: 0;
}
.policy-browser-paragraph {
  padding: 8px;
}
.policy-browser-paragraph:hover {
  background-color: #ffd;
  cursor: default;
}
.policy-browser-paragraph-sentence {
  padding: 2px;
}
.policy-browser-paragraph-sentence:hover {
  background-color: #ff0;
}
.policy-browser-paragraph-sentence.selected {
  background-color: #afc;
}
.policy-browser-paragraph-sentence.selected:hover {
  background-color: #8eas;
}
.policy-browser-overview {
  border: 1px solid black;
  width: 100%;
  background: #fdf;
  padding: 16px;
}


/*


CODING FORM


*/


.coding-form-pane {
  width: 50%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  right:0;
}

.coding-form-container {
  padding: 8px;
}

.coding-form-overview {
  border: 1px solid black;
  width: 100%;
  background: #fdf;
  padding: 16px;
}


.coding-form-question-sentence-count {
  padding: 4px;
}

.coding-form-question-container {
  padding: 8px 0;
  transition: all .5s linear;
}

.coding-form-question {
  border: 1px solid #ccc;
  transition: all .5s linear;
}

.coding-form-question-title {
  background-color: #aaa;
  color: white;
  padding: 4px;
}

.coding-form-question-info {
  display: none;
}

.coding-form-comment-box {
  display: none;
}
.coding-form-question-checkbox {
  display:none;
}


.active-question .coding-form-comment-box {
  display: block;
}

.coding-form-question-value-selector {
  padding: 4px;
  padding-bottom: 8px;
}

.active-question .coding-form-question-info {
  display: block;
  padding:4px;
  color: #333;
}

.active-question .coding-form-question-title {
  background-color: #57068c;
  font-weight: bolder;
}

.active-question .coding-form-question {
  border: 1px solid #57068c;
}

.coding-form-comment-box {
  padding: 4px;
  width: 100%;
}

.active-question .coding-form-question-checkbox {
  border: 1px solid #57068c;
  display: inline-block;
  margin: 4px;
  padding: 2px 4px;
  cursor: default;
}
.coding-form-question-checkbox:hover {
  background-color: #ebf;
}
.coding-form-question-checkbox.selected:hover {
  background-color: #bc9;
}
.coding-form-question-checkbox.selected {
  background-color: #7aff7e;
  box-shadow: 0px 0px 5px 0px #128235;
}
.coding-form-question-checkbox.selected .coding-form-question-other{
  background-color: #7aff7e;
}
.coding-form-question-other {
  border: none;
  cursor: default;
  outline: none;
}
.coding-form-question-checkbox:hover .coding-form-question-other{
  background-color: #ebf;
}
textarea.coding-form-comment-box-textarea {
  border: 1px solid #aaa;
  width: 100%;
  padding: 4px 8px;
}


