/*


home


*/

#demo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*


POLICY BROWSER


*/

.policy-browser-container {
  width: 50%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  left: 0;
}
.policy-browser-major-section {
  border: 1px solid #ccc;
  margin: 8px;
  padding: 8px;
}
.policy-browser-paragraph {
  padding: 8px 0;
  overflow-wrap: break-word;
}
.policy-browser-paragraph:hover {
  background-color: #ffd;
  cursor: default;
}
.policy-browser-paragraph-sentence {
  padding: 2px;
}
.is-header{
  font-weight: bolder;
  font-size: 1.4em;
}
.policy-browser-paragraph-sentence.some-selected {
  background-color: #ffce75;
}
.policy-browser-paragraph-sentence.all-selected {
  background-color: #00b5ad;
}
.policy-browser-paragraph-sentence:hover {
  background-color: #ff0;
}
.policy-browser-paragraph-sentence.selected {
  background-color: #afc;
}
.policy-browser-paragraph-sentence.selected:hover {
  background-color: #8ea;
}
.policy-browser-overview {
  border: 1px solid black;
  width: 100%;
  background: #fdf;
  padding: 16px;
}
/* .policy-browser-paragraph-num:before{
  content:"¶";
  white-space: pre;
} */
.policy-browser-paragraph-num{
  user-select:none;
  width: 25px;
  font-family: monospace;
  font-size: 10px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  color: #aaa;
}
.policy-browser-paragraph-content{
  display: inline-block;
  width: calc(100% - 80px);
}

.policy-browser-section-container {
  padding-top:120px;
  position: relative;
}
.active-policy {
}
.policy-browser-section-overview {
  border: 1px solid #63749e;
  width: 100%;
  background: #ddfcff;
  padding: 16px;
  margin-top: 16px;
  overflow-x: scroll;
  position: absolute;
  top: 0px;
  white-space: nowrap;
}
.active-policy .policy-browser-section-overview {
  position: fixed;
  top: 0;
  margin-top: 0;
  width: 50%;
}
.policy-browser-overview-token {
  border: 1px solid #608dff;
  background-color: #e3d6ff;
  padding: 0 2px;
  margin: 0 2px;
  border-radius: 2px;
}


/*


CODING FORM


*/


.coding-form-pane {
  width: 50%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  right:0;
}

.coding-form-response {
  box-shadow: 0 0 3px 0 #57068c;
  margin: 0 4px;
  padding: 0 2px;
}

.coding-form-uncoded-marker {
  background-color: #ffa5a5;
}

.coding-form-container {
  padding: 8px;
}

.coding-form-overview {
  border: 1px solid black;
  width: 100%;
  background: #fdf;
  padding: 16px;
}


.coding-form-question-sentence-count {
  padding: 4px;
}

.coding-form-question-container {
  padding: 8px 0;
  transition: all .5s linear;
}

.coding-form-confidence-options-container {
  margin: 8px;
}
.coding-form-confidence-options {
  display: flex;
  justify-content: space-evenly
}
.coding-form-confidence-options input[type="radio"] {
  display: none;
}
.coding-form-confidence-options input[type="radio"]:checked+label {
  font-weight: bold;
  background-color: #ffddff
}
.coding-form-confidence-options label {
  border: 1px solid #571a8c;
  background-color: #ffedff
  margin: 2px;
  flex-grow: 1;
  text-align: center;
  padding: 2px;
  cursor: default;
}

.coding-form-confidence-options label:hover {
  box-shadow: 1px 1px 1px 0px #571a8c;
  background-color: #fff4ff;
}


.coding-form-question {
  border: 1px solid #ccc;
  color: #888;
}

.coding-form-question-title {
  background-color: #aaa;
  color: white;
  padding: 4px;
}


.coding-form-comment-box {
  display: block;
}

.coding-form-question-value-selector {
  padding: 4px;
  padding-bottom: 8px;
}

.coding-form-question-info {
  display: block;
  color: #333;
  white-space: pre-wrap;
  max-height: 200px;
  overflow-y: scroll;
  margin: 4px;
}

.active-question .coding-form-question-title {
  background-color: #57068c;
  font-weight: bolder;
}

.active-question.coding-form-question {
  border: 1px solid #57068c;
  color: #333;
}
.inactive-question.coding-form-question:hover {
  cursor: pointer;
  border: 1px solid #57068c;
}
.active-selection-area, .inactive-selection-area {
  transition: max-height .2s;
  overflow: hidden;
}
.active-selection-area {
  max-height: 645px;
}
.inactive-selection-area {
  max-height: 0;
  overflow: hidden;
}
.coding-form-comment-box {
  padding: 4px;
  width: 100%;
}

.coding-form-question-checkbox {
  border: 1px solid #57068c;
  display: inline-block;
  margin: 4px;
  padding: 2px 4px;
  cursor: default;
}
.coding-form-question-checkbox:hover {
  background-color: #ebf;
}
.coding-form-question-checkbox.selected:hover {
  background-color: #bc9;
}
.coding-form-question-checkbox.selected {
  background-color: #7aff7e;
  box-shadow: 0px 0px 5px 0px #128235;
}
.coding-form-question-checkbox.selected .coding-form-question-other{
  background-color: #7aff7e;
}
.coding-form-question-other {
  border: none;
  cursor: default;
  outline: none;
}
.coding-form-question-checkbox:hover .coding-form-question-other{
  background-color: #ebf;
}
textarea.coding-form-comment-box-textarea {
  border: 1px solid #aaa;
  width: calc(100% - 16px);
  padding: 4px 8px;
  margin: 8px;
}

.coding-form-submit-button{
   width: 100%;
   font-size: calc(min(3vw, 32px));
   padding: 16px;
   border: 1px solid #571a8c;
   color: #571a8c;
   background-color: #fff1ff;
   margin-bottom: 8px;
}
.coding-form-submit-button:hover{
  box-shadow: 1px 1px 3px 0px #571a8c;
}
.coding-form-submit-button:active{
  box-shadow: 0 0 0 0;
}


.merge-tool-response-header {
  width: 100%;
  background-color: #e7c3ff;
  padding: 4px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 16px;
  border: 4px solid #bc55ff;
  border-bottom: 2px solid #bc55ff;
}
.merge-tool-response-list {
  padding: 8px;
  background-color: #fff0ff;
  max-height: 200px;
  overflow-y: hidden;
  overflow-y: scroll;
  margin: 8px;
  border: 1px solid #ff46ff
}
.merge-tool-response.fmw-answer {
  margin-top:0px;
  background-color: #f4e2ff;
  border: 4px solid #bc55ff;
  border-top: 0px;
}

.merge-tool-response {
  border-top: 1px solid #ff86ff;
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:  4px;
}
.merge-tool-response div {
  margin: 0px 8px;
}
.merge-tool-response-values span {
  background-color: #571a8c;
  color: #eee;
  padding: 2px 9px;
  margin: 2px;
}

.merge-tool-response-values {
  flex-grow: 2;
  padding-top: 4px;
}
 .merge-tool-confidence {
  flex-grow: 1;
}

.merge-tool-sentence-count {
  flex-grow: 1;
}

.merge-tool-comment {
  width: 100%;
  display: block;
  padding-top: 4px;
}



/** RAW VIEWER **/

#raw-viewer-heading {background: #54047b;color: white;padding: 16px;}

#raw-viewer-html {margin: 16px;border: 1px solid grey;padding: 16px;box-shadow: 6px 6px 6px 0px #666;}



/**

PROGRESS VIEW

**/
.progress-view h1 {
  text-align: center;
  width: 100%;
}

#progress-view-table {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#progress-view-table table {
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  max-width: 800px;
}

#progress-view-table th, #progress-view-table td {
  border: 1px solid #ccc;
  padding: .5em;
}

#progress-view-table .progress-view-coder-email {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    display: inline-block;
    font-weight: bold;
  }
#progress-view-table .progress-view-coder-count {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    display: inline-block;
  }
