{% extends "frontend/base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
  {% if user.is_authenticated %}
    <div id='app'>loading...</div>
    <script src="{% static 'frontend/main.js' %}?{% now 'Hm' %}"></script>

  {% else %}
    <script>
     // window.location="{% provider_login_url 'google' %}";
    </script>
    <body>
      you are not logged in and are being redirected.
      If you can read this, <a href="{% provider_login_url 'google' %}"> click here </a>
    </body>
  {% endif %}
{% endblock %}
