{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
{% if user.is_authenticated %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- semantic-ui CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>Privacy Policy Labeller - {{ user.email }} </title>
    <link rel="stylesheet" href="/static/main.css"></script>
    <script>
    var CURRENT_USER = "{{ user.email }}";
    </script>
  </head>

  <body>

    <div id='app'>loading...</div>

    <script src="/static/main.js"></script>
  </body>

{% else %}
  <head>
    <script>
      window.location="{% provider_login_url 'google' %}";
    </script>
  </head>
  <body>
    you are not logged in and are being redirected.
    If you can read this, <a href="{% provider_login_url 'google' %}"> click here </a>
  </body>
{% endif %}

</html>